{% if site.data.presentations %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Presentations</h2>

  {% for intro in site.data.presentations %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for presentation in site.data.presentations %}
    <div class="item">

      <span class="project-title"><a href="{{ presentation.link }}">{{ presentation.title }}</a></span>

      -
      
      {% if presentation.year %}
      <span class="project-tagline"> {{ presentation.year }}.</span>
      {% endif %}

      {% if presentation.author %}
      <span class="project-tagline"> {{ presentation.author }}.</span>
      {% endif %}

      {% if presentation.type %}
      <span class="project-tagline">{{ presentation.type }}.</span>
      {% endif %}

      {% if presentation.venue %}
      <span class="project-tagline">{{ presentation.venue }}.</span>
      {% endif %}

      {% if presentation.location %}
      <span class="project-tagline">{{ presentation.location }}.</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
