{% if site.data.presentations %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Presentations</h2>

  {% for intro in site.data.presentations %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for presentation in site.data.presentations %}
    <div class="item">

      <span class="presentation-title"><a href="{{ presentation.link }}">{{ presentation.title }}</a></span>

      {% if presentation.citation %}
      - <span class="presentation-citation">{{ presentation.year }}. {{ presentation.type }}. {{ presentation.author }}. {{ presentation.venue }}. {{ presentation.location }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
